@model IEnumerable<StockMangementAPI_Counsume.Models.BillDetailsModel>

@* <div class="card-sub"> *@
<div class="card">
	<div class="card-body">
		<h5 class="card-title">BillsDetail Data</h5>
		<a class="d-flex justify-content-end" asp-controller="BillsDetail" asp-action="BillsDetailForm">
			<button class="btn btn-primary" style="margin-top:20px">Add BillsDetail</button>
		</a>

		<table class="table table-striped" style="width:70%;margin-left:300px">
			<thead>
				<tr>
					<th scope="col">BillDetailID</th>
					<th scope="col">Bill Date</th>
					<th scope="col">Product Name</th>
					<th scope="col">Quantity</th>
					<th scope="col">Unit Price</th>
					<th scope="col">Sub Total</th>
					<th scope="col">Created</th>
					<th scope="col">Modified</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var row in Model)
				{
					<tr>
						<td>@row.BillDetailID</td>
						<td>@row.BillDate</td>
						<td>@row.ProductName</td>
						<td>@row.Quantity</td>
						<td>@row.UnitPrice</td>
						<td>@row.SubTotal</td>
						<td>@row.Created</td>
						<td>@row.Modified</td>
						<td><a asp-controller="BillsDetail" asp-action="BillsDetailForm" asp-route-BillDetailID="@row.BillDetailID"><button class="btn btn-success"><i class="bi bi-pencil"></i></button></a></td>
						<td>
							<a asp-controller="BillsDetail" asp-action="BillsDetailDelete" asp-route-BillDetailID="@row.BillDetailID">
								<button class="btn btn-danger" onclick="return confirm('Are you sure you want delete the data?')"><i class="bi bi-trash"></i></button>
							</a>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>


