@model IEnumerable<StockMangementAPI_Counsume.Models.UserSalesModel>
@{
	Layout = "_UserLayout";
}
@* <div class="card-sub"> *@
<div class="card">
	<div class="card-body">
		<h5 class="card-title">Sales Data</h5>
		<a class="d-flex justify-content-end" asp-controller="UserSales" asp-action="SalesForm">
			<button class="btn btn-primary" style="margin-top:20px">Add Sales</button>
		</a>

		<table class="table table-striped" style="width:70%;margin-left:300px">
			<thead>
				<tr>
					<th scope="col">SalesID</th>
					<th scope="col">Product Name</th>
					<th scope="col">Quantity</th>
					<th scope="col">Price</th>
					<th scope="col">AmountPaid</th>
					<th scope="col">AmountDue</th>
					<th scope="col">SaleDate</th>
					<th scope="col">CustomerName</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var row in Model)
				{
					<tr>
						<td>@row.SalesID</td>
						<td>@row.ProductName</td>
						<td>@row.Quantity</td>
						<td>@row.Price</td>
						<td>@row.AmountPaid</td>
						<td>@row.AmountDue</td>
						<td>@row.SaleDate</td>
						<td>@row.CustomerName</td>
						<td><a asp-controller="UserSales" asp-action="SalesForm" asp-route-SalesID="@row.SalesID"><button class="btn btn-success"><i class="bi bi-pencil"></i></button></a></td>
						<td>
							<a asp-controller="UserSales" asp-action="SalesDelete" asp-route-SalesID="@row.SalesID">
								<button class="btn btn-danger" onclick="return confirm('Are you sure you want delete the data?')"><i class="bi bi-trash"></i></button>
							</a>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>



